<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
    <header id="main-header">
         <a href="/"><h1>Asp Net core App</h1></a>
        <div class="row">
            <div class="col-md-3">
                <a href="#" id="open-new-person-block-link">Добавить новый контакт</a>

            </div>
            <div class="col-md-8">
                Искать по
                <form id="search-form" action="search" method="get">
                    <input type="radio" name="SearchType" value="Name" checked> ФИО
                    <input type="radio" name="SearchType" value="Organization"> организации
                    <input type="radio" name="SearchType" value="Position"> должности
                    <input type="radio" name="SearchType" value="ContactInfo"> контактным данным
                    <input type="search" name="SearchString" placeholder="Значение" />
                </form>
            </div>
        </div>
        <div id="new-person-block" class="popup-container">
            <div id="close-popup-btn" class="close">X</div>
            <div class="top">
                <h3>Новый контакт</h3>
            </div>
            <div class="bottom">
                <form method="post" id="new-person-form" action="Home/CreatePersonAsync">
                    <div>Имя: <input name="FirstName" id="first-name" type="text"></div>
                    <div>Фамилия:<input name="LastName" id="last-name" type="text"></div>
                    <div>Отчество: <input name="MiddleName" id="middle-name" type="text"></div>
                    <div>Дата рождения: <input name="DateOfBirth" id="date-of-birth" type="date"></div>
                    <div>Название организации: <input name="OrganizationName" id="org-name" type="text"></div>
                    <div>Должность: <input name="PositionName" id="pos-name" type="tel"></div>
                </form>
                <div>
                    Добавить контактные данные
                    <select id="contact-types">
                        <option>Telephone</option>
                        <option>Skype</option>
                        <option>Email</option>
                        <option>Other</option>
                    </select>
                </div>
                <div>
                    <ul id="contacts"></ul>
                </div>
                <button id="submit-btn-new-person-form">
                    Создать контакт
                </button>
            </div>
        </div>
        <div id="black-background"></div>
    </header>
    <div class="person-card-list">
        @RenderBody()
    </div>
    <div class="row">
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; @DateTime.Now.ToString("yyyy") - Karabaev Maxim
            </div>
        </footer>
    </div>
    <script src="~/js/site.js"></script>
</body>
</html>
